        
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&display=swap');


ul {
    display: flex;
    flex-direction: row;
    background-color: #ff3c00;
    justify-content: space-around;
}

li {
    list-style-type: none;
    font-family: 'Bebas Neue';
    padding: 5px;
}
li:hover {
    background-color: #ffb89a;
}

nav a {
    color: #f0ede6;
    text-decoration: none;
}

p {
    color: #f0ede6;
    font-family: 'Bebas Neue';
}